server/classlist_server/photos/*
server/classlist_server/files/files/14*.png
.idea
=======
### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
xcuserdata

# Server
*.pyc
venv
