{% extends "main.html" %}
{% block content %}
    <h1 class="main_entry_caption">Checking the attendance in a <span class="colored"">modern</span> way</h1>
    <div class="row-fluid">
        <div class="span4">
            <h2 class="center"><i class="material-icons">visibility</i></h2>
            <p><b class="colored-light">Monitor your students</b> and make sure they come to classes. There are no
                attendance causes difficult to make up for deficiencies. Collect the information that students skip
                classes.</p>
        </div>
        <div class="span4">
            <h2 class="center"><i class="material-icons">alarm_on</i></h2>
            <p><b class="colored-light">Save your time</b>. Checking the list is time consuming, and also spoils the
                form of lessons. With our application instantly check list to help you uczciom achieve better academic
                results</p>
        </div>
        <div class="span4">
            <h2 class="center"><i class="material-icons">mail_outline</i></h2>
            <p><b class="colored-light">Notify parents about their children's absences</b>. The immediate reaction to
                quickly catch truants, and discourage children leaving classes. As a result, they often attend classes,
                so more will be learned</p>
        </div>
    </div>
{% endblock %}
